<div class="article">
	
		<div class="plan-header">
            <h1>Choose Your Plan</h1>
            <p>Let's choose the package that is best for you and explore it happily and cheerfully.</p>
    </div>
        <div class="plan__select">
            <div class="plan">
                <div class="content">
                <div class="plan__current">
                    <img src="../development/assets/svg/Standard.svg" class="" alt="">
                    <h3>Free Plan</h3>
                </div>
                <ul class="plan__role">
                    <li class="plan__role-item">
                        <div class="plan__role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Unlimited Bandwitch
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="plan__role-img">
                            <img src="../development/assets/svg/Vector.svg" class="" alt="">
                        </div>
                        <span class="span">
                            Encrypted Connection
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            No Traffic Logs
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Works on All Devices
                        </span>
                    </li>
                </ul>
                </div>
                
                <div class="plan__campaign">
                    <div>
                        <h2>Free</h2>
                        <button class="btn__select">Select</button>
                    </div>
                </div>
            </div>
            
            <div class="plan">
                <div class="content">
                <div class="plan__current">
                    <img src="../development/assets/svg/Standard.svg" class="" alt="">
                    <h3>Standard Plan</h3>              
                </div>
                
                <ul class="plan__role">
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Unlimited Bandwitch
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Encrypted Connection
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Yes Traffic Logs
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Works on All Devices
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Connect Anyware
                        </span>
                    </li>
                </ul>
                </div>
                <div class="plan__campaign">
                    <div>
                        <h2>$9 / mo </h2>
                        <button class="btn__select">Select</button>
                    </div>
                </div>
                
            </div>

            <div class="plan plan__border">
                <div class="content">              
                <div class="plan__current">
                    <img src="../development/assets/svg/Standard.svg" class="" alt="">
                    <h3>Premium Plan</h3>
                </div>
                <ul class="plan__role">
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Unlimited Bandwitch
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Encrypted Connection
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Yes Traffic Logs
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Works on All Devices
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Connect Anyware
                        </span>
                    </li>
                    <li class="plan__role-item">
                        <div class="role-img">
                            <img src="../development/assets/svg/Vector.svg" alt="">
                        </div>
                        <span class="span">
                            Get New Features
                        </span>
                    </li>
                </ul>
                </div>
                <div class="plan__campaign">
                    <div>
                        <h2>$12/ mo</h2>
                        <button class="btn__select btn__select--click">Select</button>
                    </div>
                </div>               
            </div>
        </div>      
    </div>
