<section class="customer customer--container">
    <div class="container container--customer">
    <div class="customer__header">
        <h3>Trusted by Thousands of Happy Customer</h3>
    </div>
    <div class="customer__description">
        <p>These are the stories of our customers who have joined us with great pleasure when using this crazy feature.</p>
    </div>
    <div class="customer__card-group customer__card-group--container">
        <div class="customer__card customer__card--container">
            <div class="customer__card-header">
                <div class="customer__card-header-img">
                    <img src="./assets/images/avatar-1.svg" alt="">
                </div>
                <div class="customer__card-header-title">
                    <h4>Viezh Robert</h4>
                    <small>Shanxi, China</small>
                </div>
                <div class="customer__card-header-stats">
                    <p>4.5</p>
                    <div class="customer__card-header-stats-icon">
                        <img src="./assets/images/star.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="customer__card-body">
                <p>“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.</p>
            </div>
        </div>
        <div class="customer__card customer__card--container">
            <div class="customer__card-header">
                <div class="customer__card-header-img">
                    <img src="./assets/images/avatar-2.svg" alt="">
                </div>
                <div class="customer__card-header-title">
                    <h4>Yessica Christy</h4>
                    <small>Shanxi, China</small>
                </div>
                <div class="customer__card-header-stats">
                    <p>4.5</p>
                    <div class="customer__card-header-stats-icon">
                        <img src="./assets/images/star.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="customer__card-body">
                <p>“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.</p>
            </div>
        </div>
        <div class="customer__card customer__card--container">
            <div class="customer__card-header">
                <div class="customer__card-header-img">
                    <img src="./assets/images/avatar-3.svg" alt="">
                </div>
                <div class="customer__card-header-title">
                    <h4>Kim Young Jou</h4>
                    <small>Shanxi, China</small>
                </div>
                <div class="customer__card-header-stats">
                    <p>4.5</p>
                    <div class="customer__card-header-stats-icon">
                        <img src="./assets/images/star.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="customer__card-body">
                <p>“Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best”.</p>
            </div>
        </div>
        
    </div>
    <div class="customer__buttons">
        <div class="customer__carousel">
            <div class="customer__dots"></div>
            <div class="customer__dots"></div>
            <div class="customer__dots"></div>
            <div class="customer__dots"></div>
        </div>
        <div class="customer__arrows">
            <button class="customer__arrow"><img src="../development/assets/svg/arrow.svg" alt=""></button>
            <button class="customer__arrow customer__arrow--right"><img class="customer__arrow--right" src="../development/assets/svg/arrow.svg" alt=""></button>
        </div>
    </div>
    </div>
</section>