<section class="hero">
    <div class="container">
        <div class="hero__content">
            <h1 class="hero__header">Want anything to be easy with <span class="hero__header--logo">LaslesVPN</span></h1>
            <p class="hero__text">Provide your network for all your needswith ease andfun using <span class="hero__text--logo">LaslesVPN</span> discover intersting features from us.</p>
            <button class="hero__btn">Get Started</button>
        </div>
        <div class="hero__img">
            <img src="../development/assets/svg/hero.svg" alt="" class="hero__img-main">
        </div>
    </div>
</section>