<div class="head">
    <div class="container container--map">
        <section class="head__section ">
        <h3 class="head__first">
            Huge Global Network of Fast VPN  
        </h3>
        <p class="head__parag">
            See <strong>LaslesVPN</strong>  everywhere to make it easier for you when you move locations.
        </p>
    </section>
    <section class="head__section-map ">
        <img src="../development/assets/svg/Huge Global.svg" alt="">
                
    </section>
    <section class="head__section-images ">
        <nav class="head__images">
            <a class="head__image__self" href="">
                <img src="../development/assets/svg/Netflix.svg" alt="">
            </a>
            <a class="head__image__self" href="">
                <img src="../development/assets/svg/reddit.svg" alt="">
            </a>
            <a class="head__image__self" href="">
                <img src="../development/assets/images/amazon.png" alt="">
            </a>
            <a class="head__image__self" href="">
                <img src="../development/assets/svg/discord.svg" alt="">
            </a>
            <a class="head__image__self" href="">
                <img src="../development/assets/svg/spotify.svg" alt="">
            </a>
        </nav>
    </section>
    </div>
    
</div>