<section class="stats">
    <div class="container container--stats">
        <div class="stats__item">
            <div class="stats__icon">
            <img src="../development/assets/svg/user.svg" alt="user-icon">
            </div>
            <div class="stats_value">
                <p class="stats__number">90+</p>
                <p class="stats__text">Users</p>
            </div>
        </div>
        <div class="stats__line"></div>
        <div class="stats__item">
            <div class="stats__icon">
            <img src="../development/assets/svg/location.svg" alt="location-icon">
            </div>
            <div class="stats_value">
                <p class="stats__number">30+</p>
                <p class="stats__text">Locations</p>
            </div>
        </div>
        <div class="stats__line"></div>
        <div class="stats__item">
            <div class="stats__icon">
            <img src="../development/assets/svg/server.svg" alt="serv-icon">
            </div>
            <div class="stats_value">
                <p class="stats__number">50+</p>
                <p class="stats__text">Servers</p>
            </div>
        </div>
    </div>
</section>