<section class="subscribe">
    <div class="container container--subscribe">
        <div class="subscribe__content">
            <h2 class="subscribe__header">Subscribe Now for Get Special Features!</h2>
            <p class="subscribe__text">Let's subscribe with us and find the fun.</p>
        </div>
        <button class="subscribe__btn">Subscribe Now</button>
    </div>
</section>