<main>
    <section class="recipe-info">
        <header>
            <p>Recipes > Turkey burger with sweet potato fries</p>
            <h1>Turkey burger with sweet potato fries</h1>
            <div class="times">
                <ul>
                    <li>Cook Time<br><span>10m</span></li>
                    <li>Prep Time<br><span>20m</span></li>
                    <li>Chill Time<br><span>0m</span></li>
                    <li>Total Time<br><span>30m</span></li>
                </ul>
                <div class="share-icons">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M18 22C19.6569 22 21 20.6569 21 19C21 17.3431 19.6569 16 18 16C16.3431 16 15 17.3431 15 19C15 20.6569 16.3431 22 18 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18 8C19.6569 8 21 6.65685 21 5C21 3.34315 19.6569 2 18 2C16.3431 2 15 3.34315 15 5C15 6.65685 16.3431 8 18 8Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 15C7.65685 15 9 13.6569 9 12C9 10.3431 7.65685 9 6 9C4.34315 9 3 10.3431 3 12C3 13.6569 4.34315 15 6 15Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.5 6.5L8.5 10.5" stroke="currentColor" stroke-width="1.5"/>
                            <path d="M8.5 13.5L15.5 17.5" stroke="currentColor" stroke-width="1.5"/>
                        </svg>
                    </button>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M17 13.01L17.01 12.9989" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7 17H17M6 10V3.6C6 3.26863 6.26863 3 6.6 3H17.4C17.7314 3 18 3.26863 18 3.6V10M21 20.4V14C21 11.7909 19.2091 10 17 10H7C4.79086 10 3 11.7909 3 14V20.4C3 20.7314 3.26863 21 3.6 21H20.4C20.7314 21 21 20.7314 21 20.4Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </button>
                </div>
            </div>
        </header>
        <article class="materials">
            <p>An extra lean, turkey burger with a sprinkling of paprika and cumin - serve with a vibrant green salad and sweet potato fries to complte to the dish. </p>
            <div class="nutritions">
                <h3>Nutrition per serving</h3>
                <ul>
                    <li>Calories<br><span>428</span></li>
                    <li>Protein<br><span>42g</span></li>
                    <li>Carbs<br><span>32g</span></li>
                    <li>Fats<br><span>36g</span></li>
                    <li>Fibre<br><span>10g</span></li>
                </ul>
            </div>
            <div class="utensils">
                <h3>Utensils</h3>
                <div class="img"></div>
                <img loading="lazy" src="https://images.unsplash.com/photo-1569420077790-afb136b3bb8c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1067&q=80" alt="a">
                <img loading="lazy" src="https://images.unsplash.com/photo-1453686062273-6257b9fde1ce?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="b">
                <img loading="lazy" src="https://images.unsplash.com/photo-1585469385558-24d7608f84e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80" alt="c">
            </div>
            <div class="how">
                <h3>How to make it</h3>
                <ol>
                    <li>In a large bowl, mix ground turkey, seasoned bread crumbs, onion, egg whites, parsley, garlic, salt, and pepper. Form into 12 patties.</li>
                    <li>Cook the patties in a medium skillet over medium heat, turning once, to an internal temperature of 180 degrees F (85 degrees C).</li>
                    <li>Add mayonnaise and drizzle in Worcestershire sauce. Gently toss and break up meat mixture to evenly blend.</li>
                </ol>
            </div>
        </article>
    </section>
    <section class="ingredients-container">
        <img loading="lazy" src="https://images.unsplash.com/photo-1551782450-a2132b4ba21d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" alt="a">
        <div class="ingredients">
            <h3>Ingredients</h3>
            <p>1 lb. ground turkey</p>
            <p>1 large egg, beaten</p>
            <p>2 cloves garlic, minced</p>
            <p>1 tbsp. Worcestershire sauce</p>
            <p>2 tbsp. freshly chopped parsley</p>
            <p>Kosher salt</p>
            <p>Freshly ground black pepper</p>
            <p>Hamburger buns</p>
        </div>
    </section>
</main>