$rem-baseline: 16;

$text-color: #4F5665;
$header-color:#0B132A;
$main-color: #F53838;
$white-color: #FFFFFF;
$icon-bgcolor: #FFECEC;
$line-color: #EEEFF2;
$footer-color: #F8F8F8;

$light-font: 400;
$mid-font: 500;
$bold-font: 700;

//CUSTOMER PARTİAL COLORS
$customer-header-color: #0B132A;
$customer-description-color: #4F5665;
$customer-background-color: #fff;
$customer-hover-color: #FEA250;
$customer-icon-primary-color: #F53838;
$customer-icon-secondary-color: #DDE0E4;




