<footer>
    <div class="links">
        <h3>KithcenPal</h3>
        <div class="footer-links">
            <a class="footer__links__item" href="#" title="Download Now">Download Now</a>
            <a class="footer__links__item" href="#" title="License">License</a>
        </div>
        <div class="footer-menu-links">
            <a href="#" title="About">About</a>
            <a href="#" title="Features">Features</a>
            <a href="#" title="Pricing">Pricing</a>
            <a href="#" title="Careers">Careers</a>
            <a href="#" title="Help">Help</a>
            <a href="#" title="Privacy Policy">Privacy Policy</a>
        </div>
        <p>2020 KithcenPal © All rights reserved</p>
    </div>

    {% include "./footer-svg.njk" %}
</footer>