<footer class="footer">
    <div class="container container--footer">
        <div class="footer__info">
            <div class="footer__logo">
                <a href="#" class="footer__link footer__link-img"><img src="../development/assets/svg/logo.svg" alt=""></a>
                <a class="footer__link footer__link--logo" href="#">Lasles<span class="footer__link--bold">VPN</span></a>
            </div>
            <div class="footer__text">
                <span class="footer__text--logo">LaslesVPN</span> is a private virtual network that has a unique features and has high security.
            </div>
            <div class="footer__socials">
                    <a class="footer__socials-icon" href="#"><img class="footer__socials-img" src="../development/assets/svg/facebook.svg" alt="facebook-icon"></a>
                    <a class="footer__socials-icon" href="#"><img class="footer__socials-img" src="../development/assets/svg/twitter.svg" alt="twitter-icon"></a>
                    <a class="footer__socials-icon" href="#"><img class="footer__socials-img" src="../development/assets/svg/instagram.svg" alt="instagram-icon"></a>
            </div>
            <div class="footer__copyright">© 2020 LaslesVPN</div>
        </div>
        <div class="footer__services">
            <div class="footer__service">
                <h3 class="footer__header">Product</h3>
                <ul class="footer__links">
                    <li class="footer__links-item"><a class="footer__link" href="">Download</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">Pricing</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">Locations</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">Server</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">Countries</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">Blog</a></li>
                </ul>
            </div>
            <div class="footer__service">
                <h3 class="footer__header">Engage</h3>
                <ul class="footer__links">
                    <li class="footer__links-item"><a class="footer__link" href="">LaslesVPN ?</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">FAQ</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">Tutorials</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">About Us</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">Privacy Policiy</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">Terms of Service</a></li>
            </div>
            <div class="footer__service">
                <h3 class="footer__header">Earn Money</h3>
                <ul class="footer__links">
                    <li class="footer__links-item"><a class="footer__link" href="">Affiliate</a></li>
                    <li class="footer__links-item"><a class="footer__link" href="">Become Partner</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>