html {
    font-size: 10px;
}

$small-font: 1.6rem;
$mid-font: 2rem;
$big-font: 4rem;
$color-grey: #F1ECEC;
$color-darkgrey: #f1e9e9;
$color-lightblack:#504442;
$color-black: #000000;
$color-white: #FFFFFF;
